@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 33% 9%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 192 98% 50%;
    --primary-foreground: 224 14% 10%;
    --secondary: 215 14% 34%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 14% 24%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 215 14% 34%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 224 33% 15%;
    --input: 215 14% 24%;
    --ring: 192 98% 50%;
    --radius: 0.8rem;
    --positive: 142.1 70.6% 45.3%;
    --negative: 0 72.2% 50.6%;
    --chart-1: 192 98% 50%; /* cyan */
    --chart-2: 40 96% 56%; /* orange */
    --chart-3: 341 91% 65%; /* pink */
    --chart-4: 262 82% 62%; /* purple */
    --chart-5: 161 82% 43%; /* green */
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 33% 9%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 192 98% 50%;
    --primary-foreground: 224 14% 10%;
    --secondary: 215 14% 34%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 14% 24%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 215 14% 34%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 224 33% 15%;
    --input: 215 14% 24%;
    --ring: 192 98% 50%;
    --radius: 0.8rem;
    --positive: 142.1 70.6% 45.3%;
    --negative: 0 72.2% 50.6%;
    --chart-1: 192 98% 50%; /* cyan */
    --chart-2: 40 96% 56%; /* orange */
    --chart-3: 341 91% 65%; /* pink */
    --chart-4: 262 82% 62%; /* purple */
    --chart-5: 161 82% 43%; /* green */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
